{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid page-header py-5 mb-5" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(53, 53, 53, 0.7)), url('{% static "img/l.jpg" %}') center center no-repeat; background-size: cover;">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Product Details</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'index' %}">Home</a></li>
                
                <li class="breadcrumb-item text-white active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid rounded" src="{{ product.image.url }}" alt="{{ product.product_name }}">
        </div>
        {% comment %} <div class="col-md-6">
            <h2>{{ product.product_name }}</h2>
            <p class="text-muted">{{ product.description|safe }}</p>
            <p>{{ product.details|safe }}</p>
        </div> {% endcomment %}
        <div class="col-md-6">
            <div class="p-4 border rounded shadow-sm" style="background-color: #f0f0f0;"> <!-- Gray background -->
                <h2 class="text-primary mb-3">{{ product.product_name }}</h2>
                <p class="text-muted mb-2" style="max-width: 100%; overflow: hidden;">{{ product.description|safe }}</p>
          <p>{{ product.details|safe }}</p> 
                
            </div>
        </div>
        
        
        
    </div>
</div>


</style>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        .table-responsive {
            overflow-x: auto;
        }
      
        @media (max-width: 575.98px) {
            .table-responsive {
                overflow-x: auto;
            }
            .card-body td:nth-child(2) {
                max-width: 150px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
      </style>
{% endblock %}